{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:create_attempt' %}">Add attempt</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Attempt: {{ object.attempt_status }} </h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
