{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:create_message' %}">Add message</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Message: {{ object.subject }} </h4>
            </div>
            <div class="card-body">
                <a href="{% url 'mailing:message_detail' object.pk %}"
                   class="btn btn-sm btn-outline-secondary">View message details</a>
                {% if perms.main.can_edit_product_description and perms.main.can_edit_is_published or user == object.owner %}
                <a href="{% url 'mailing:update_message' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Edit message</a>
                {% endif %}
                <a href="{% url 'mailing:delete_message' object.pk %}"
                   class="btn btn-sm btn-outline-danger">Delete message</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
