{% extends 'mailing/base.html' %}
{% load blog_media_tag %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Add post</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <p class="card-text">
                    {{ object|title }}
                </p></div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.content|slice:5 }} ... </h2>
                <img class="card-img-top" src="{{ object.preview|blog_media_tag}}">
                <h4 class="card-title pricing-card-title">{{ object.date_of_creation }}</h4>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'blog:view' object.pk %}"
                       class="btn btn-sm btn-outline-secondary">View full post</a>

                    <a href="{% url 'blog:edit' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Edit post</a>
                    {% if perms.blog.change_blogpost %}
                    <a href="{% url 'blog:delete' object.pk %}"
                       class="btn btn-sm btn-outline-danger">Delete post</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
